{
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
